<%- include('includes/user_head') %>
    <h1>Hello!</h1>
    <div class="card">
        <h2><%= usr.username %></h2><hr>
        <p>Email: <%= usr.email %></p>
    </div>
    <a href="/"><button>Home</button></a>
<%- include('includes/foot') %>